---
import BaseLayout from "./BaseLayout.astro";
import RightTop from "../components/RightTop.astro";
const {frontmatter, headings} = Astro.props;
---

<BaseLayout headerHidden={true}>
    <h1 class="text-xl font-bold text-rose-700">{frontmatter.title}</h1>
    <p></p>

    <div>
        <span>{frontmatter.author}</span>
        <span>{frontmatter.pubDate}</span>
        <span>
        {
            frontmatter.tags.map((tag: string) => (
                    <a class="" href={`/tags/${tag}`}> #{tag}</a>
            ))
        }
      </span>
    </div>
    <slot/>


    <RightTop headings={headings}/>
</BaseLayout>